%div{:style => "width:1000px; margin:0 auto; height:auto"}
  .heading
    %b Request Details
  %table.table{:align => "left", :border => "0", :cellpadding => "5", :cellspacing => "-1", :width => "100%"}
    - if current_user.has_role? :admin      
      %tr
        %td{:align => "right", :valign => "middle"}
          %div{:align => "left"}
            %b User Name: 
        %td{:align => "left", :valign => "middle"}= @request.user.name
      %tr
        %td{:align => "right", :valign => "middle"}
          %div{:align => "left"}
            %b Phone Number
        %td{:align => "left", :valign => "middle"}= @request.phone_no
      %tr
        %td{:align => "right", :valign => "middle"}
          %div{:align => "left"}
            %b Email
        %td{:align => "left", :valign => "middle"}= @request.user.email
    %tr
      %td{:align => "right", :valign => "middle"}
        %div{:align => "left"}
          %b Status:
      %td{:align => "left", :valign => "middle"}
        .complete= @request.status
    - if @request.status == "complete"  && (current_user.has_role? :user)
      %tr
        %td{:align => "right", :valign => "middle"}
          %div{:align => "left"}
            %b Satisfaction:
        %td{:align => "left", :valign => "middle"}
          = render 'satisfaction'
    %tr
      %td{:align => "right", :valign => "middle"}
        %div{:align => "left"}
          %b Date:
      %td{:align => "left", :valign => "middle"}= @request.created_at
    %tr
      %td{:align => "right", :valign => "middle"}
        %div{:align => "left"}
          %b Request Type:
      %td{:align => "left", :valign => "middle"}= @request.request_type
    %tr
      %td{:align => "right", :valign => "middle"}
        %div{:align => "left"}
          %b Description:
      %td{:align => "left", :valign => "middle"}= @request.details_of_request
    %tr
      %td{:align => "right", :valign => "middle"}
        %div{:align => "left"}
          %b Photo:
      %td{:align => "left", :valign => "middle"}
        - for photo in @request.request_photos
          =link_to  image_tag(photo.photo.url(:thumb)), "#{photo.photo.url(:large)}", :target => "_blank"
    
  - if current_user.has_role? :admin
    %tr
      %td{:align => "right", :valign => "middle"}
        %div{:align => "left"}
          %h3= link_to 'Edit Request', edit_user_request_path, :class => "btn"
      

  
   